#about-content {
	background: url(../images/bg-about.png) left center no-repeat;
	background-size: cover;
	position: relative;
	@media (max-width: 767px) {
		overflow: hidden;
		&.content-padding {
			padding-bottom: 0;
		}
	}
}

.location-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 3em 0 0;
	.location-item {
		flex: 0 0 33.3%;
		max-width: 33.3%;
		.location-detail {
			text-align: center;
			padding: 2em 0;
			.title {
				font-weight: bold;
				font-size: 18px;
			}
			.detail {
				margin: 12px 0;
				line-height: 25px;
			}
		}
		.location-image {
			display: flex;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
		.location-item {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 2em;
			.location-detail {
				padding: 20px;
			}
		}
	}
	@media (max-width: 767px) {
		.location-item {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 2em;
			.location-detail {
				padding: 20px;
			}
		}
	}
}
