.btn-line-orange,
.btn-orange,
.btn-blue {
  transition: all 0.3s ease-in;
  font-family: $headerFont;
  padding: 0.5em 1em 0.75em;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  &:hover {
    transition: all 0.3s ease-out;
  }
  @media (max-width: 767px) {
    width: 100% !important;
    display: block;
    max-width: 100% !important;
  }
}

.btn-line-orange {
  color: $orange;
  border: solid 1px $orange;
  &:hover {
    transition: all 0.3s ease-out;
    color: #fff;
    background-color: $orange;
  }
}

.btn-orange {
  color: #fff;
  background-color: $orange;
  border: solid 1px $orange;
  &:hover {
    transition: all 0.3s ease-out;
    color: $orange;
    background-color: transparent;
    border: solid 1px $orange;
  }
}

.btn-blue {
  color: #fff;
  background-color: $darkBlue;
  border: solid 1px $darkBlue;
  &:hover {
    transition: all 0.3s ease-out;
    color: $darkBlue;
    background-color: transparent;
    border: solid 1px $darkBlue;
  }
}

.btn-wide {
  width: 250px;
  display: block;
  margin: auto;
}

.btn-wrapper {
  padding: 1em 0;
}
