.card-content-container {
	&.content-padding {
		padding: 5em 0 0;
	}
}
.card-content-wrapper {
	padding: 3em 0 0;
	.card-content-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&:nth-child(even) {
			flex-direction: row-reverse;
		}
		.card-content-image,
		.card-content-detail {
			flex: 0 0 50%;
			max-width: 50%;
		}
		.card-content-image {
			display: flex;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
		.card-content-detail {
			padding: 2em;
			.title {
				font-weight: bold;
				font-size: 28px;
				letter-spacing: 3px;
				font-family: $headerFont;
				text-transform: uppercase;
			}
			p {
				margin: 1.5em 0;
				line-height: 25px;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
		.card-content-item {
			.card-content-image,
			.card-content-detail {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
	@media (max-width: 767px) {
		.card-content-item {
			.card-content-image,
			.card-content-detail {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

.user-card-wrapper {
	padding: 2em 0 0;
}
.user-card {
	margin-bottom: 35px;

	.user-image {
		margin-bottom: 10px;
		img {
			max-width: 100%;
		}
	}
	.user-properties {
		text-align: center;
		.name {
			font-size: 28px;
			font-weight: bold;
		}
		.position {
			font-weight: 300;
			margin: 10px 0;
		}
	}
	.btn-wrapper {
		padding: 0 0 1em;
		.text-link {
			color: $orange;
			position: relative;
			padding-bottom: 10px;
			transition: all 0.3s ease;
			&:after {
				transition: all 0.3s ease;
				content: "";
				height: 3px;
				width: 100%;
				background-color: $orange;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
			&:hover {
				&:after {
					width: 0%;
				}
			}
		}
	}
}