.sendflowers-card-wrapper {
	margin: 5em 0;

	.user-card {
    .user-image {
      max-height: 290px;
      overflow: hidden;
    }
		.user-properties {
			.btn-wrapper {
				padding: 1em 0;
			}
		}
	}
}
