#services-overview-content {
	&.content-padding {
		padding: 5em 0 0;
	}
}
.services-wrapper {
	padding: 3em 0 0;
	.services-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&:nth-child(even) {
			flex-direction: row-reverse;
		}
		.services-image,
		.services-detail {
			flex: 0 0 50%;
			max-width: 50%;
		}
		.services-image {
			display: flex;
			img {
				width: 100%;
				object-fit: cover;
			}
		}
		.services-detail {
			padding: 2em;
			.title {
				font-weight: bold;
				font-size: 28px;
				letter-spacing: 3px;
				font-family: $headerFont;
				text-transform: uppercase;
			}
			p {
				margin: 1.5em 0;
				line-height: 25px;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
		.services-item {
			.services-image,
			.services-detail {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
	@media (max-width: 767px) {
		.services-item {
			.services-image,
			.services-detail {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}
