@import url(../fonts/fonts.css);
@import url(../css/all.css);
body {
  font-family: "lato";
  font-size: 16px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in;
  font-family: "catamaran";
}
a:hover {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

button.btn:focus {
  outline: none;
  box-shadow: none;
}

.content-padding {
  padding: 5em 0;
}
@media (max-width: 767px) {
  .content-padding {
    padding: 2em 0;
  }
}

.section-title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "catamaran";
  font-size: 48px;
  letter-spacing: 8px;
  margin: 20px 0;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .section-title {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .section-title {
    font-size: 40px;
  }
}

.section-subtitle {
  text-transform: uppercase;
  font-family: "catamaran";
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 8px;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .section-subtitle {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .section-subtitle {
    font-size: 18px;
  }
}

.page-navigation {
  padding: 30px 0;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
}
.page-navigation ul {
  justify-content: center;
  margin: 0;
  padding: 0;
}
.page-navigation ul li {
  list-style: none;
}
.page-navigation ul li a {
  color: #606060;
  padding: 0 20px 10px;
  display: block;
  font-size: 18px;
  font-family: "catamaran";
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease-in;
  margin-bottom: 10px;
}
.page-navigation ul li a::after {
  transition: all 0.3s ease-in;
  width: 0;
  content: "";
  height: 3px;
  background-color: #de732c;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.page-navigation ul li.active a::after, .page-navigation ul li:hover a::after {
  width: 100px;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .page-navigation ul {
    flex-wrap: wrap;
  }
  .page-navigation ul li a {
    text-align: center;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .page-navigation {
    padding-bottom: 0;
  }
  .page-navigation ul {
    overflow-x: auto;
    flex-wrap: wrap;
  }
  .page-navigation ul li {
    width: 50%;
    margin-bottom: 20px;
  }
  .page-navigation ul li a {
    text-align: center;
    font-size: 14px;
    padding: 0 3px 10px;
  }
}

.page-content-title {
  font-family: "catamaran";
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .page-content-title {
    font-size: 38px;
  }
}

.page-image img {
  max-width: 65%;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 767px) {
  .page-image {
    margin: 0 -15px;
  }
  .page-image img {
    max-width: 100%;
    position: relative;
  }
}

#hero-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 50px 0;
  min-height: 400px;
}
#hero-area .hero-text {
  color: #fff;
  text-align: center;
}
#hero-area .hero-text .main {
  font-size: 120px;
  font-family: "playfair";
}
#hero-area .hero-text .subtitle {
  font-family: "catamaran";
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 5px;
}
#hero-area.home-hero {
  min-height: 700px;
}
#hero-area.home-hero .hero-text .main {
  font-family: "kaushan";
  font-size: 220px;
  line-height: 0.85;
}
#hero-area.home-hero .hero-text .subtitle {
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 0px;
}
#hero-area .hero-text {
  width: 100% !important;
  padding: 0 15px;
}
#hero-area .hero-text .main {
  font-size: 80px;
}
#hero-area .hero-text .subtitle {
  font-size: 24px;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #hero-area {
    background-position: center !important;
  }
}
@media (max-width: 767px) {
  #hero-area.home-hero {
    background-position: 65% center !important;
    min-height: 400px;
  }
  #hero-area.home-hero .hero-text .main {
    font-size: 80px;
  }
  #hero-area.home-hero .hero-text .subtitle {
    font-size: 24px;
  }
  #hero-area .hero-text .main {
    font-size: 60px;
  }
  #hero-area .hero-text .subtitle {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .tab-desktop-only {
    display: none;
  }
}

.mobile-only {
  display: none;
}
@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
}

.gray-gradient-bg {
  background: white;
  background: -moz-linear-gradient(180deg, white 73%, #ebebeb 97%);
  background: -webkit-linear-gradient(180deg, white 73%, #ebebeb 97%);
  background: linear-gradient(180deg, white 73%, #ebebeb 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ebebeb",GradientType=1);
}

.text-orange {
  color: #de732c;
}

.orange-link {
  color: #de732c;
  text-transform: uppercase;
  font-family: "catamaran";
}
.orange-link:hover {
  color: #0c2230;
}

.content-image {
  display: flex;
  padding: 2em 0;
}
.content-image img {
  width: 100%;
  object-fit: cover;
}

.paragraf-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "catamaran";
  letter-spacing: 3px;
  text-transform: uppercase;
}

.gray-bg {
  background-color: #d2d2d2;
}

.darkBlue-bg {
  background-color: #0c2230;
}
.darkBlue-bg p,
.darkBlue-bg ul {
  color: #fff;
}

.list-with-icon {
  padding-left: 20px;
}
.list-with-icon li {
  list-style: none;
  background: url(../images/icon-check-orange.svg) left center no-repeat;
  background-size: 20px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.pagination-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.pagination-wrapper ul li {
  list-style: none;
}
.pagination-wrapper ul li a {
  color: #000000;
  transition: all 0.2s ease;
}
.pagination-wrapper ul li.active a, .pagination-wrapper ul li:hover a {
  background-color: #de732c;
  color: #fff;
}
.pagination-wrapper ul .pagination-nav .next-prev-btn {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  transition: all 0.2s ease;
}
.pagination-wrapper ul .pagination-nav .next-prev-btn a {
  text-transform: uppercase;
}
.pagination-wrapper ul .pagination-nav .next-prev-btn i {
  color: #de732c;
  font-size: 24px;
}
.pagination-wrapper ul .pagination-nav .next-prev-btn:hover, .pagination-wrapper ul .pagination-nav .next-prev-btn.active {
  background-color: #de732c;
  color: #fff;
}
.pagination-wrapper ul .pagination-nav .next-prev-btn:hover i, .pagination-wrapper ul .pagination-nav .next-prev-btn.active i {
  color: #fff;
}
.pagination-wrapper ul .pagination-nav .next-prev-btn:hover a, .pagination-wrapper ul .pagination-nav .next-prev-btn.active a {
  background-color: transparent;
}
.pagination-wrapper ul .pagination-nav .next-prev-btn.prev i {
  margin-right: 10px;
}
.pagination-wrapper ul .pagination-nav .next-prev-btn.next i {
  margin-left: 10px;
}
.pagination-wrapper ul .pagination-num {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.pagination-wrapper ul .pagination-num li a {
  transition: all 0.2s ease;
  padding: 7px 15px;
  margin: 5px;
  display: block;
}
@media (max-width: 767px) {
  .pagination-wrapper .pagination-nav {
    width: 100%;
    text-align: center;
  }
  .pagination-wrapper .pagination-nav li {
    justify-content: center;
  }
  .pagination-wrapper .pagination-num {
    width: 100%;
    justify-content: center;
  }
}

.subscribe-email-form {
  max-width: 50%;
  margin: auto;
}
.subscribe-email-form .input-group {
  flex-direction: column;
}
.subscribe-email-form .input-group .form-control {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  height: 50px;
}
.subscribe-email-form .btn-orange {
  width: 100%;
  height: 50px;
}
@media (max-width: 767px) {
  .subscribe-email-form {
    max-width: 100%;
  }
}

.page-icon {
  margin-bottom: 10px;
}
.page-icon img {
  max-width: 100px;
}

#notfound-page .page-icon img {
  max-height: 280px;
  max-width: inherit;
}
@media (max-width: 767px) {
  #notfound-page .page-icon img {
    width: 80%;
  }
}

input:focus {
  outline: none;
  box-shadow: none;
}

form .input-group-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;
}
form .input-group-flex .input-group {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 7px;
  padding-right: 7px;
}
@media (max-width: 767px) {
  form .input-group-flex .input-group {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
form .input-group {
  margin-bottom: 15px;
}
form .input-group .form-control {
  border-radius: 0;
  padding: 1em;
}
form .input-group .form-control:focus:focus {
  outline: none;
  box-shadow: none;
  border-color: #de732c;
}

header {
  background-color: #0c2230;
  padding: 5px 0;
}
header .logo-wrapper {
  flex: 0 0 20%;
  max-width: 20%;
}
header .logo-wrapper img {
  max-height: 75px;
}
header .navigation {
  flex: 0 0 80%;
  max-width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  justify-content: flex-end;
}
header .navigation .obituaries {
  margin: 0 2em;
  position: relative;
}
header .navigation .obituaries.active {
  padding-bottom: 10px;
}
header .navigation .obituaries.active::after {
  content: "";
  height: 3px;
  background: #de732c;
  width: 100%;
  bottom: 0;
  left: 0px;
  position: absolute;
}
header .navigation .humburger-btn {
  cursor: pointer;
  margin-left: 2em;
}
header .navigation .humburger-btn span {
  display: block;
  height: 2px;
  background-color: #fff;
  width: 20px;
  margin-bottom: 5px;
}
header .navigation .humburger-btn span:last-child {
  margin: 0;
}
header .menu-wrapper {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: 0.5s;
}
header .menu-wrapper nav {
  background: #17374c;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
  position: fixed;
  right: 0;
  top: 0;
}
header .menu-wrapper nav #btn-close {
  cursor: pointer;
  padding: 1em;
}
header .menu-wrapper nav #btn-close img {
  max-width: 28px;
}
header .menu-wrapper nav .menu-item {
  overflow-x: scroll;
  padding-bottom: 4em;
  height: 100%;
}
header .menu-wrapper nav .menu-item::-webkit-scrollbar {
  width: 0.75em;
}
header .menu-wrapper nav .menu-item::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
header .menu-wrapper nav .menu-item::-webkit-scrollbar-thumb {
  background-color: #de732c;
}
header .menu-wrapper nav .menu-item .menu-title {
  font-family: "catamaran";
  text-transform: uppercase;
  font-size: 38px;
  color: #fff;
  margin-bottom: 1em;
  padding-left: 40px;
}
header .menu-wrapper nav .menu-item .menu-title::after {
  height: 3px;
  display: block;
  background: #de732c;
  width: 105px;
  content: "";
}
header .menu-wrapper nav .menu-item ul {
  padding-left: 0;
}
header .menu-wrapper nav .menu-item ul li {
  list-style: none;
}
header .menu-wrapper nav .menu-item ul li a {
  display: block;
  padding: 15px 40px;
  color: #fff;
  font-family: "catamaran";
  width: 100%;
  text-transform: uppercase;
}
header .menu-wrapper nav .menu-item ul li a:hover {
  color: #de732c;
}
header .menu-wrapper nav .menu-item ul li.active a {
  color: #de732c;
}
header .menu-wrapper nav .menu-item ul li.has-child > a {
  position: relative;
}
header .menu-wrapper nav .menu-item ul li.has-child > a::after {
  content: "\25B6";
  font-size: 10px;
  position: absolute;
  right: 30px;
  transition: transform 0.3s;
}
header .menu-wrapper nav .menu-item ul li.has-child > a.active::after {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
header .menu-wrapper nav .menu-item ul li.has-child .child-menu ul .active a {
  border-left: solid 3px #de732c;
}
header .menu-wrapper nav .menu-item .child-menu {
  background: rgba(0, 0, 0, 0.2);
}
header .menu-wrapper.active {
  width: 100%;
}
header .menu-wrapper.active nav {
  width: 22%;
  transition: 0.5s;
}
@media (min-width: 800px) and (max-width: 990px) {
  header .menu-wrapper.active nav {
    width: 35%;
  }
  header .contact,
  header .obituaries {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  header .contact,
  header .obituaries {
    display: none;
  }
  header .menu-wrapper.active nav {
    width: 50%;
  }
}
@media (max-width: 767px) {
  header .contact,
  header .obituaries {
    display: none;
  }
  header .menu-wrapper.active nav {
    width: 100%;
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  header .header-cta {
    display: none;
  }
}

#footer-section {
  background-color: #0c2230;
  color: #fff;
}
#footer-section .social-wrapper {
  text-align: right;
  text-transform: uppercase;
  font-family: "catamaran";
}
#footer-section .social-wrapper a i {
  background-color: #de732c;
  padding: 12px 15px;
  transition: background-color 0.3s ease-in;
  color: #fff;
}
#footer-section .social-wrapper a:hover i {
  transition: background-color 0.3s ease-out;
  background-color: #fff;
  color: #0c2230;
}
#footer-section .footer-links {
  padding: 3em 0;
}
#footer-section .footer-links .link-item {
  margin-bottom: 3em;
}
#footer-section .footer-links .link-item .title {
  font-weight: bold;
  font-family: "catamaran";
  color: #de732c;
  text-transform: uppercase;
  margin-bottom: 1em;
}
#footer-section .footer-links .link-item ul {
  padding-left: 0;
}
#footer-section .footer-links .link-item ul li {
  list-style: none;
  margin-bottom: 10px;
  word-break: break-word;
}
#footer-section .footer-links .link-item ul li a {
  color: #fff;
  text-transform: capitalize;
}
#footer-section .footer-links .link-item ul li a:hover {
  color: #de732c;
}
#footer-section .footer-copyright {
  color: #415e70;
  font-size: 13px;
}
#footer-section .footer-copyright .align-right {
  text-align: right;
}
#footer-section .footer-copyright .align-right a {
  color: #415e70;
  text-transform: uppercase;
}
#footer-section .footer-copyright .align-right a:hover {
  color: #de732c;
}
@media (max-width: 767px) {
  #footer-section {
    padding: 2em 3em;
  }
  #footer-section .logo-wrapper,
  #footer-section .social-wrapper,
  #footer-section .footer-copyright,
  #footer-section .footer-copyright .align-right {
    text-align: center;
  }
  #footer-section .footer-copyright .align-right {
    margin-top: 20px;
  }
}

.btn-line-orange,
.btn-orange,
.btn-blue {
  transition: all 0.3s ease-in;
  font-family: "catamaran";
  padding: 0.5em 1em 0.75em;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.btn-line-orange:hover,
.btn-orange:hover,
.btn-blue:hover {
  transition: all 0.3s ease-out;
}
@media (max-width: 767px) {
  .btn-line-orange,
  .btn-orange,
  .btn-blue {
    width: 100% !important;
    display: block;
    max-width: 100% !important;
    text-align: center;
  }
}

.btn-line-orange {
  color: #de732c;
  border: solid 1px #de732c;
}
.btn-line-orange:hover {
  transition: all 0.3s ease-out;
  color: #fff;
  background-color: #de732c;
}

.btn-orange {
  color: #fff;
  background-color: #de732c;
  border: solid 1px #de732c;
}
.btn-orange:hover {
  transition: all 0.3s ease-out;
  color: #de732c;
  background-color: transparent;
  border: solid 1px #de732c;
}

.btn-blue {
  color: #fff;
  background-color: #0c2230;
  border: solid 1px #0c2230;
}
.btn-blue:hover {
  transition: all 0.3s ease-out;
  color: #0c2230;
  background-color: transparent;
  border: solid 1px #0c2230;
}

.btn-wide {
  width: 250px;
  display: block;
  margin: auto;
  text-align: center;
}

.btn-wrapper {
  padding: 1em 0;
}

#tributes-area {
  background: url(../images/bg-texture.png);
  min-height: 600px;
}
#tributes-area .tributes-header,
#tributes-area #slick-tributes {
  max-width: 90%;
  margin: auto;
}
#tributes-area .tributes-content {
  margin-top: -6em;
  background-color: #fff;
  padding: 1em;
  position: relative;
}
#tributes-area .tributes-content .top-decorator,
#tributes-area .tributes-content .bottom-decorator {
  width: 97%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: absolute;
}
#tributes-area .tributes-content .top-decorator img,
#tributes-area .tributes-content .bottom-decorator img {
  width: 100%;
  max-height: 150px;
}
#tributes-area .tributes-content .bottom-decorator {
  bottom: 1em;
}
#tributes-area .tributes-content .tributes-main-content {
  padding: 4em 0;
  position: relative;
  z-index: 6;
}
#tributes-area .tributes-content .tributes-main-content .tributes-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  z-index: 10;
  position: relative;
}
#tributes-area .tributes-content .tributes-main-content .tributes-header .title {
  text-transform: uppercase;
  font-family: "catamaran";
  font-size: 22px;
  font-weight: bold;
}
#tributes-area .tributes-content .tributes-main-content .searchform {
  border-bottom: solid 1px #d2d2d2;
}
#tributes-area .tributes-content .tributes-main-content .searchform input {
  border: none;
  font-weight: 300;
  font-family: "catamaran";
}
#tributes-area .tributes-content .tributes-main-content .searchform i {
  color: #d2d2d2;
}
#tributes-area .tributes-content .tributes-main-content .btn-wrapper {
  margin: 2em 0 0;
}
@media (max-width: 767px) {
  #tributes-area {
    background: transparent;
  }
  #tributes-area .tributes-header,
  #tributes-area #slick-tributes {
    max-width: 100%;
    margin: auto;
  }
  #tributes-area .top-decorator,
  #tributes-area .bottom-decorator {
    display: none;
  }
  #tributes-area .tributes-content {
    margin: 0 -15px;
  }
  #tributes-area .tributes-content .tributes-main-content {
    padding: 2em 0;
  }
  #tributes-area .tributes-content .tributes-main-content .tributes-header {
    flex-wrap: wrap;
    margin-bottom: 5em;
  }
  #tributes-area .tributes-content .tributes-main-content .tributes-header .title {
    margin-bottom: 10px;
  }
  #tributes-area .tributes-content .tributes-main-content .tributes-header .searchform {
    width: 100%;
    margin-bottom: 40px;
  }
  #tributes-area .tributes-content .tributes-main-content .tributes-header .searchform form input {
    width: 92%;
  }
}

#slick-tributes .slick-item {
  text-align: center;
}
#slick-tributes .slick-item img {
  margin: 0 auto 10px;
  max-width: 120px;
  border-radius: 100%;
}
#slick-tributes .slick-item .slick-properties {
  font-family: "catamaran";
}
#slick-tributes .slick-item .slick-properties .name {
  font-weight: bold;
}
#slick-tributes .slick-item .slick-properties .date {
  color: #707070;
  font-weight: 300;
}
#slick-tributes.tributes-secondary .slick-item img {
  border-radius: 5px;
}

.slick-next::before,
.slick-prev::before {
  display: none;
}

.slick-item:focus {
  outline: none;
}

.slick-dots.top-dots {
  top: -4em;
}
.slick-dots.blog-dots {
  bottom: -40px;
}
.slick-dots li button::before {
  height: 12px;
  width: 12px;
  background-color: #d2d2d2;
  border-radius: 100%;
  content: "";
}
.slick-dots li.slick-active button::before {
  background-color: #de732c;
}

#about-section {
  color: #fff;
  padding: 6em 0;
}
#about-section .section-content {
  text-align: center;
}
#about-section .section-content .decorator img {
  max-width: 230px;
  margin: auto;
}
#about-section .section-content .section-body {
  margin: 2em 0;
}
#about-section.about-secondary-third .row {
  flex-direction: row-reverse;
}
#about-section.about-section-secondary, #about-section.about-secondary-third {
  color: #000;
}
#about-section.about-section-secondary .section-content, #about-section.about-secondary-third .section-content {
  text-align: left;
}
#about-section.about-section-secondary .section-image, #about-section.about-secondary-third .section-image {
  min-height: 550px;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #about-section.about-section-secondary .row, #about-section.about-secondary-third .row {
    flex-direction: column-reverse;
  }
  #about-section.about-section-secondary .section-image, #about-section.about-secondary-third .section-image {
    min-height: 350px;
    margin-bottom: 2em;
  }
  #about-section.about-section-secondary .section-content, #about-section.about-secondary-third .section-content {
    text-align: center;
  }
}
@media (max-width: 767px) {
  #about-section.about-section-secondary .row, #about-section.about-secondary-third .row {
    flex-direction: column-reverse;
  }
  #about-section.about-section-secondary .section-image, #about-section.about-secondary-third .section-image {
    min-height: 250px;
    margin-bottom: 2em;
  }
  #about-section.about-section-secondary .section-content, #about-section.about-secondary-third .section-content {
    text-align: center;
  }
}

#blog-wrapper {
  background-color: #ebebeb;
}
#blog-wrapper.blogslider-secondary-wrapper #blog-slider {
  display: none;
}
#blog-wrapper.blogslider-secondary-wrapper #blog-slider-secondary .slick-item .blog-card {
  margin: 0 15px;
}
#blog-wrapper #blog-slider .slick-item .blog-card,
#blog-wrapper #blog-slider-secondary .slick-item .blog-card {
  margin: 0 25px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.43);
}
#blog-wrapper #blog-slider .slick-item .blog-card .card-image,
#blog-wrapper #blog-slider-secondary .slick-item .blog-card .card-image {
  overflow: hidden;
}
#blog-wrapper #blog-slider .slick-item .blog-card .card-image img,
#blog-wrapper #blog-slider-secondary .slick-item .blog-card .card-image img {
  transition: transform 0.3s;
  width: 100%;
  object-fit: cover;
}
#blog-wrapper #blog-slider .slick-item .blog-card .card-title,
#blog-wrapper #blog-slider-secondary .slick-item .blog-card .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}
#blog-wrapper #blog-slider .slick-item .blog-card .card-title img,
#blog-wrapper #blog-slider-secondary .slick-item .blog-card .card-title img {
  max-height: 18px;
}
#blog-wrapper #blog-slider .slick-item .blog-card:hover .card-image img,
#blog-wrapper #blog-slider-secondary .slick-item .blog-card:hover .card-image img {
  transform: scale(1.2);
  transition: transform 0.7s;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #blog-wrapper #blog-slider .slick-item .blog-card .card-title,
  #blog-wrapper #blog-slider-secondary .slick-item .blog-card .card-title {
    min-height: 80px;
  }
}
@media (max-width: 767px) {
  #blog-wrapper #blog-slider .slick-item .blog-card,
  #blog-wrapper #blog-slider-secondary .slick-item .blog-card {
    margin: 0;
  }
}

#testimonial-wrapper {
  color: #fff;
}
#testimonial-wrapper.testimonial-wrapper-secondary {
  color: #000;
}
#testimonial-wrapper.testimonial-wrapper-secondary #testimonial-slider-secondary .slick-item .testimonial-item {
  background: #f3f4f5;
  padding: 20px 15px;
  margin: 0 15px;
  border-radius: 7px;
}
#testimonial-wrapper #testimonial-slider,
#testimonial-wrapper #testimonial-slider-secondary {
  margin: 2em 0;
}
#testimonial-wrapper #testimonial-slider .testimonial-item,
#testimonial-wrapper #testimonial-slider-secondary .testimonial-item {
  text-align: center;
  line-height: 28px;
}
#testimonial-wrapper #testimonial-slider .testimonial-item .username,
#testimonial-wrapper #testimonial-slider-secondary .testimonial-item .username {
  font-weight: bold;
  font-size: 18px;
  font-family: "catamaran";
  margin: 2em 0 1em;
}

#contact-form-wrapper .contact-detail {
  color: #606060;
}
#contact-form-wrapper .contact-detail .title {
  font-size: 38px;
  font-weight: bold;
  font-family: "catamaran";
  text-transform: uppercase;
  color: #000;
}
#contact-form-wrapper .contact-detail .contact-item {
  margin: 2.5em 0;
}
#contact-form-wrapper .contact-detail .contact-item .item-title {
  font-weight: bold;
  color: #000;
  font-family: "catamaran";
}
#contact-form-wrapper .contact-detail .contact-item a {
  color: #de732c;
  letter-spacing: 2px;
  font-family: "catamaran";
  text-transform: uppercase;
  font-size: 14px;
}
#contact-form-wrapper form .btn-wide {
  margin: 0 auto 0 0;
  width: 150px;
}

#about-content {
  background: url(../images/bg-about.png) left center no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 767px) {
  #about-content.content-padding {
    padding-bottom: 0;
  }
}

.location-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 0 0;
}
.location-wrapper .location-item {
  flex: 0 0 33.3%;
  max-width: 33.3%;
}
.location-wrapper .location-item .location-detail {
  text-align: center;
  padding: 2em 0;
}
.location-wrapper .location-item .location-detail .title {
  font-weight: bold;
  font-size: 18px;
}
.location-wrapper .location-item .location-detail .detail {
  margin: 12px 0;
  line-height: 25px;
}
.location-wrapper .location-item .location-image {
  display: flex;
}
.location-wrapper .location-item .location-image img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .location-wrapper .location-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2em;
  }
  .location-wrapper .location-item .location-detail {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .location-wrapper .location-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2em;
  }
  .location-wrapper .location-item .location-detail {
    padding: 20px;
  }
}

.card-content-container.content-padding {
  padding: 5em 0 0;
}

.card-content-wrapper {
  padding: 3em 0 0;
}
.card-content-wrapper .card-content-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.card-content-wrapper .card-content-item:nth-child(even) {
  flex-direction: row-reverse;
}
.card-content-wrapper .card-content-item .card-content-image,
.card-content-wrapper .card-content-item .card-content-detail {
  flex: 0 0 50%;
  max-width: 50%;
}
.card-content-wrapper .card-content-item .card-content-image {
  display: flex;
}
.card-content-wrapper .card-content-item .card-content-image img {
  width: 100%;
  object-fit: cover;
}
.card-content-wrapper .card-content-item .card-content-detail {
  padding: 2em;
}
.card-content-wrapper .card-content-item .card-content-detail .title {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 3px;
  font-family: "catamaran";
  text-transform: uppercase;
}
.card-content-wrapper .card-content-item .card-content-detail p {
  margin: 1.5em 0;
  line-height: 25px;
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .card-content-wrapper .card-content-item .card-content-image,
  .card-content-wrapper .card-content-item .card-content-detail {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .card-content-wrapper .card-content-item .card-content-image,
  .card-content-wrapper .card-content-item .card-content-detail {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.user-card-wrapper {
  padding: 2em 0 0;
}

.user-card {
  margin-bottom: 35px;
}
.user-card .user-image {
  margin-bottom: 10px;
}
.user-card .user-image img {
  max-width: 100%;
}
.user-card .user-properties {
  text-align: center;
}
.user-card .user-properties .name {
  font-size: 28px;
  font-weight: bold;
}
.user-card .user-properties .position {
  font-weight: 300;
  margin: 10px 0;
}
.user-card .btn-wrapper {
  padding: 0 0 1em;
}
.user-card .btn-wrapper .text-link {
  color: #de732c;
  position: relative;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}
.user-card .btn-wrapper .text-link:after {
  transition: all 0.3s ease;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #de732c;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.user-card .btn-wrapper .text-link:hover:after {
  width: 0%;
}

.accordion-wrapper {
  padding: 3em 0;
}
.accordion-wrapper #accordion .card {
  border-bottom: 0;
  margin-bottom: 1em;
}
.accordion-wrapper #accordion .card .card-header button {
  display: flex;
  align-items: center;
  width: 100%;
}
.accordion-wrapper #accordion .card .card-header button span {
  flex: 1;
  text-align: left;
}
.accordion-wrapper #accordion .card .card-header button i {
  transition: 0.5s;
  color: #de732c;
}
.accordion-wrapper #accordion .card .card-header button.active i {
  transform: rotate(90deg);
}
.accordion-wrapper #accordion .card button {
  color: #0c2230;
  font-family: "catamaran";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

#talklifetime-content {
  margin-top: -11em;
  padding-top: 15em;
}

#obituaries-content {
  background: #f5f5f5;
}

.obit-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #ffffff;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}
.obit-card .obit-image {
  flex: 0 0 30%;
  max-width: 30%;
  display: flex;
}
.obit-card .obit-image img {
  object-fit: cover;
  width: 100%;
}
.obit-card .obit-detail {
  padding: 2em;
  flex: 1;
}
.obit-card .obit-detail .name {
  font-size: 24px;
  font-weight: bold;
  font-family: "catamaran";
}
.obit-card .obit-detail .date {
  color: #9D9D9D;
  font-size: 13px;
  display: block;
  margin: 1.25em 0;
}
.obit-card .obit-detail .btn-wrapper a:first-child {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .obit-card .obit-image {
    max-height: 250px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .obit-card .btn-wrapper a:first-child {
    margin-bottom: 10px;
  }
}

.sendflowers-card-wrapper {
  margin: 5em 0;
}
.sendflowers-card-wrapper .user-card .user-image {
  max-height: 290px;
  overflow: hidden;
}
.sendflowers-card-wrapper .user-card .user-properties .btn-wrapper {
  padding: 1em 0;
}

/*# sourceMappingURL=style.css.map */
